@charset "UFT-8";

/* Usando tag para estilizar */
/* div{
    background-color: aqua;
} */

/* Usando id para estilizar */
/* #caixa{
    background-color: aqua;
} */

/* Usando classe para estilizar */
/* .novoTitulo{
    color: brown;
} */

#caixa{
    background-color: rgb(173, 173, 173);
    width: 400px;
    margin: 270px auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 30px;
}

button{
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
}