* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#caixa {
  width: 350px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.493);
}

#titulo {
  text-align: left;
  margin-bottom: 15px;
}

#input-item {
  width: 54%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  height: 40px;
}

#botao-adicionar {
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  background-color: #020037;
  color: white;
  border-radius: 6px;
}

#grupo-tarefas {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#limpa-itens {
  padding: 5px 50px ;
  cursor: pointer;
  border: none;
  background-color: #020037;
  color: white;
  border-radius: 6px;
}

#lista {
  list-style: none;
}

/* Itens da lista */
#lista li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid black;
  border-radius: 6px;
}